:root {
  --large: 100vw;
  --green: rgb(203, 229, 156);
  --greener: rgb(155, 224, 186);
  --blue: rgb(153, 201, 239);
}

* {
  box-sizing: border-box;
  font-size: 1rem;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

@media screen and (min-width: 1230px) {
  .wrapper,
  #Output {
    max-width: 1230px;
  }
}
