:root {
  --light-green: rgb(213, 234, 176);
  --green: rgb(203, 229, 156);
  --greener: rgb(155, 224, 186);
  --blue: rgb(153, 201, 239);
}

* {
  box-sizing: border-box;
  font-size: 1rem;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* ==============MEDIA============== */

.wrapper {
  max-width: 1230px;
}

@media screen and (max-width: 1260px) {
  .wrapper {
    max-width: calc(100% - 2rem);
  }
}
