main,
.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  width: 100%;

  background-color: var(--blue);
}

#Input {
  height: calc(100vh - 100px);
}

.letter-form {
  display: flex;
  margin: 8px;
}

input,
button {
  border: none;
  outline: none;

  height: 4rem;
  width: 40vw;

  padding-left: 1rem;
  border-radius: 6rem 0 0 6rem;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);

  background-color: var(--green);
}

.home-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 4rem;

  border-radius: 0 3rem 3rem 0;
  padding: 0;

  background-color: var(--greener);
}

input:focus {
  background-color: var(--light-green);
}

.home-btn:hover svg {
  transform: translateX(5px);
  transition: 0.3s;
}

.small-text p,
#Input label {
  padding-left: 1rem;
}

.small-text p {
  font-size: small;
  margin: 0;
}

/* ======================2ND PAGE====================== */

#Output {
  justify-content: flex-start;
  min-height: 100vh;
  background-color: var(--greener);
}

.main-wrapper {
  flex-direction: column;
  width: 100%;
}

.result-num,
.list-item {
  width: 100%;
  margin: 1rem 0;
  background-color: var(--blue);
}

.result-num {
  margin-top: 2rem;
}

.list-item:last-child {
  margin-bottom: 2rem;
}

.list-item h5 {
  margin: 0;
  background-color: var(--green);
}
