#Lists {
  justify-content: flex-start;
}

#Lists p {
  margin: 0%;
  padding: 0 0 1rem 0;
  background-color: var(--greener);
}

.list-preview {
  display: flex;
}

.list-preview p:first-child {
  white-space: nowrap;
  overflow: hidden;
}

.list-preview p:last-child {
  flex-grow: 1;
  white-space: nowrap;
}
