#Lists {
  background-color: var(--blue);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#Lists p {
  background-color: var(--greener);
  margin: 0;
}

#Lists h5 {
  margin: 0;
}
