#Login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;

  background-color: var(--blue);
}

#Login form {
  display: flex;
  flex-direction: column;

  background-color: var(--greener);
  border-radius: 2rem;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.login-input {
  height: 4rem;
  width: 40vw;
  max-width: 400px;

  border: none;
  outline: none;
  background-color: var(--green);

  border-radius: 6rem;
  padding-left: 1rem;
  margin: 0.5rem 1rem;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
}

.login-input:focus {
  background-color: var(--light-green);
}

button.login-input {
  margin: 2rem 1rem;
}

button.login-input:hover {
  margin: 2rem 1rem;

  background-color: var(--light-green);
}

.login-label {
  margin-top: 1rem;
  padding-left: 2rem;
}
