#Login form {
  display: flex;
  flex-direction: column;

  margin: 8px;

  border-radius: 2rem;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);

  background-color: var(--greener);
}

.login-input {
  max-width: 400px;
  min-width: 250px;

  margin: 0.5rem 1rem;
  border-radius: 6rem;
}

button.login-input {
  margin: 2rem 1rem;
  padding: 0;
}

.login-input:focus,
button.login-input:hover {
  background-color: var(--light-green);
}

.login-label {
  margin-top: 1rem;
  padding-left: 2rem;
}

#Login .small-text {
  width: 40vw;
  max-width: 400px;
}
